* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 0px;
}

.language-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-image: url("../img/SVG.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 30px;
  border: none;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.log-in {
  border: none;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #fff;
}

.log-in:hover {
  background-color: #000000;
  color: white;
  border-color: #fcfcfc;
}

.sign-up {
  background-color: #00798A;
  border: none;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.sign-up:hover {
  background-color: #ffffff;
  color: #00798A;
  border-color: #fcfcfc;
}

#search-left {
  background-image: url("../img/Vector1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 17px;
  width: 300px;
  height: 42px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fff;
  padding-left: 30px;
  background-position: 10px center;
}

#search-right {
  width: 300px;
  height: 42px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding-left: 30px;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main {
  width: 80%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header, .footer {
  width: 100%;
}

.footer {
  background-color: #2e3131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 36px;
  -webkit-box-shadow: 6px 0px 19px 2px rgba(0, 0, 0, 0.79);
          box-shadow: 6px 0px 19px 2px rgba(0, 0, 0, 0.79);
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-started {
  background-color: #2e3131;
  color: white;
  padding: 7px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.get-started:hover {
  background-color: #ffffff;
  color: #2e3131;
  border-color: #fcfcfc;
}

.border-footer {
  border-top: 1px solid #fff;
  margin: 10px;
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  padding: 30px;
  margin-top: 20px;
}

.footer-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
}

.footer-content-item-header {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer-content-item li a {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #cbc8c8;
  text-decoration: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-social-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer-social-media-links {
  float: left;
}

.footer-downloud-links {
  float: right;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 10px;
  margin: 0;
}

.footer li {
  display: inline;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #fff;
}

.footer-bottom-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  width: 50%;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
}

.hero-description {
  font-size: 18px;
  color: #555;
}

.join-meetup {
  background-color: #00798A;
  color: white;
  width: 125px;
  height: 40px;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.join-meetup:hover {
  background-color: #ffffff;
  color: #00798A;
  border-color: #fcfcfc;
}

.hero-image {
  width: 50%;
  height: auto;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.events-first-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.events-title {
  font-size: 36px;
  font-weight: bold;
}

.events-header-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.events-description {
  font-size: 18px;
  color: #00798A;
}

.see-all-events {
  background-color: #f0f0f0;
  color: #00798A;
  width: 125px;
  height: 40px;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.see-all-events:hover {
  background-color: #00798A;
  color: #ffffff;
  border-color: #fcfcfc;
}

.events-first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  gap: 20px;
}

.event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.event-image {
  width: 278px;
  height: 153px;
  border-radius: 10px;
  background-color: #ccc;
}

.event-title {
  font-size: 18px;
  font-weight: bold;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.event-second-image {
  width: 338px;
  height: 228px;
  border-radius: 10px;
  background-color: #ccc;
}

.events-second-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.see-events {
  border: none;
  text-decoration: underline;
  color: #00798A;
  font-size: 18px;
  font-weight: bold;
}

.right-img {
  width: 340px;
  height: auto;
  border-radius: 10px;
  background-color: #ccc;
}

#event-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
}

.event-second-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.left-contant-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#sort-type {
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  background-color: #cbc8c8;
}

#sort-distance {
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  background-color: #cbc8c8;
}

#sort-category {
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  background-color: #cbc8c8;
}

.event-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.events-date {
  color: #7C6F50;
}

.event-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.event-details {
  color: #8b8b8b;
}

.event-category {
  color: #8b8b8b;
}

.event-distance {
  color: #8b8b8b;
}

.event-attendees {
  padding-top: 20px;
  color: #8b8b8b;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.events-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.border {
  border-top: 2px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

.join-second-meetup {
  padding: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(151, 202, 209, 0.0784313725);
  gap: 20px;
  color: #000;
}

.join-second-meetup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hidden-img {
  display: none;
}

.join-second-meetup-image {
  width: 341px;
  height: 196px;
}

.join-second-meetup-button {
  background-color: #E32359;
  color: white;
  width: 125px;
  height: 40px;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
}

.join-second-meetup-button:hover {
  background-color: #ffffff;
  color: #E32359;
  border-color: #fcfcfc;
}

.category {
  margin-top: 20px;
}

.category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
}

.category-card {
  background-color: rgba(151, 202, 209, 0.0784313725);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  width: 130px;
  height: 110px;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}

.category-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.category-image {
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

.category-name {
  text-align: center;
}

.popular-cities-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.popular-cities-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.popular-cities-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-cities-description {
  font-size: 18px;
  color: #767676;
}

.meetup-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.meetup-work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.discover-container {
  background-color: rgba(151, 202, 209, 0.0784313725);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 10px;
  gap: 17px;
}

.discover-image {
  width: 41px;
  height: 41px;
}

.discover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}

.discover-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.discover-description {
  font-size: 18px;
  color: #767676;
}

.link-discover {
  text-decoration: underline;
  color: #00798A;
}

.friendships-meetup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 20px;
}

.friendships-meetup-description {
  font-size: 18px;
  color: #767676;
}

.friendships-meetup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.friendships-meetup-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.friendships-meetup-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.friendships-meetup-card-description {
  font-size: 16px;
  color: #767676;
}

.friendships-link {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: #00798A;
}

@media screen and (max-width: 990px) {
  .footer-content {
    width: 100%;
  }
  #search-left {
    max-width: 340px;
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  #search-right {
    display: none;
  }
  .header {
    width: 100%;
    margin: 0 auto;
  }
  .search-bar {
    width: 100%;
    margin: 0 auto;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .hero-content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero-title {
    font-size: 30px;
    text-align: start;
  }
  .hero-description {
    font-size: 16px;
    text-align: start;
  }
  .hero-image {
    width: 80%;
    height: auto;
  }
  .see-all-events {
    display: none;
  }
  .events-first-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  .event-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    width: 100%;
  }
  .event-image {
    width: 220px;
    height: 110px;
  }
  .right-img-container {
    display: none;
  }
  .sort-container select {
    margin: 7px;
  }
  .category-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .category-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .popular-cities-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .meetup-work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .friendships-meetup-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .search-bar {
    width: 50%;
    margin-top: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }
  .language-name {
    font-size: 14px;
  }
  .sign-up {
    margin-top: 10px;
  }
  #search-left {
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  #search-right {
    display: none;
  }
  .footer-bottom-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: flex-start;
  }
  .footer-links {
    display: none;
  }
  .footer-downloud-links {
    display: none;
  }
  main {
    width: 100%;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero-title {
    font-size: 25px;
    text-align: start;
  }
  .hero-description {
    font-size: 12px;
    text-align: start;
  }
  .hero-image {
    width: 70%;
    height: auto;
  }
  .events-first-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }
  .event-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    width: 100%;
  }
  .event-image {
    width: 150px;
    height: 75px;
  }
  .join-second-meetup {
    margin: 0 auto;
  }
  .join-second-meetup-content {
    margin: 0 auto;
  }
  .join-second-meetup-title {
    text-align: center;
  }
  .hidden-img {
    display: block;
  }
  .join-second-meetup-description {
    text-align: center;
  }
  .join-second-meetup-button {
    margin: 0 auto;
  }
  .open-img {
    display: none;
  }
}