* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 0px;
}

.language-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-image: url("../img/SVG.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 30px;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.language {
  width: 30px;
  height: 30px;
  position: relative;
}

.log-in {
  border: none;
  text-decoration: none;
  font-weight: bold;
}

.sign-up {
  background-color: #00798A;
  border: none;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

#search-left {
  background-image: url("../img/Vector1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  width: 300px;
  height: 42px;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #fff;
  padding-left: 27px;
}

#search-right {
  width: 300px;
  height: 42px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding-left: 30px;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main {
  width: 80%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header, .footer {
  width: 100%;
}

.footer {
  background-color: #2e3131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 36px;
  -webkit-box-shadow: 6px 0px 19px 2px rgba(0, 0, 0, 0.79);
          box-shadow: 6px 0px 19px 2px rgba(0, 0, 0, 0.79);
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-started {
  background-color: #2e3131;
  color: white;
  padding: 7px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.get-started:hover {
  background-color: #ffffff;
  color: #2e3131;
  border-color: #fcfcfc;
}

.border-footer {
  border-top: 1px solid #fff;
  margin: 10px;
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  padding: 30px;
  margin-top: 20px;
}

.footer-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  list-style: none;
}

.footer-content-item-header {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer-content-item li a {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #cbc8c8;
  text-decoration: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-social-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer-social-media-links {
  float: left;
}

.footer-downloud-links {
  float: right;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 10px;
  margin: 0;
}

.footer li {
  display: inline;
}

.footer a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #fff;
}

.footer-bottom-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  width: 50%;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
}

.hero-description {
  font-size: 18px;
  color: #555;
}

.join-meetup {
  background-color: #00798A;
  color: white;
  width: 125px;
  height: 40px;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.join-meetup:hover {
  background-color: #ffffff;
  color: #00798A;
  border-color: #fcfcfc;
}

.hero-image {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 990px) {
  #search-left {
    max-width: 340px;
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  #search-right {
    display: none;
  }
  .header {
    width: 100%;
    margin: 0 auto;
  }
  .search-bar {
    width: 100%;
    margin: 0 auto;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .hero-content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero-title {
    font-size: 30px;
    text-align: start;
  }
  .hero-description {
    font-size: 16px;
    text-align: start;
  }
  .hero-image {
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .search-bar {
    width: 50%;
    margin-top: 10px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }
  .language-name {
    font-size: 14px;
  }
  .sign-up {
    margin-top: 10px;
  }
  #search-left {
    width: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  #search-right {
    display: none;
  }
  .footer-bottom-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: flex-start;
  }
  .footer-links {
    display: none;
  }
  .footer-downloud-links {
    display: none;
  }
  main {
    width: 100%;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero-title {
    font-size: 25px;
    text-align: start;
  }
  .hero-description {
    font-size: 12px;
    text-align: start;
  }
  .hero-image {
    width: 70%;
    height: auto;
  }
}