*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0px;
}
.language-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-image: url('../img/SVG.png'); 
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: 20px; 
    padding-left: 30px; 
}
.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.language {
    width: 30px;
    height: 30px;
    position: relative;
}
.log-in {
    border: none;
    text-decoration: none;
    font-weight: bold;
}
.sign-up {
    background-color: #00798A;
    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
#search-left {
    background-image: url('../img/Vector1.png'); 
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: 20px; 
    width: 300px;
    height: 42px;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #fff;
    padding-left: 27px; 
}

#search-right {
    background-image: url('../img/Button - Searchevents.png'); 
    width: 300px;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 42px; 
    padding-left: 30px; 
}
@media screen and (max-width: 990px){
    #search-left {
    max-width: 380px;
    background-image: url('../img/Button - Searchevents.png'); 
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 42px; 
    padding-left: 30px; 
    }
    #search-right {
        display: none;
    }
    .nav{
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .search-bar {
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .search-bar {
        width: 50%;
        margin-top: 10px;
        order:1;
        margin: 0 auto;
    }
    .language-name {
        font-size: 14px;
    }
    .sign-up {
        margin-top: 10px;
    }
    #search-left{
        width: 100%;
        margin-top: 10px;
        background-image: url('../img/Button - Searchevents.png'); 
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 42px; 
    padding-left: 30px; 
    }
    #search-right{
        display: none;
    }
}